/* mobile screen */

@media  screen and (max-width:576px) {

    .nav-bar{
        padding: 0 20px;
    }
    .nav-items >ul{
        display: none;
    }
    #ham-burg{
        display: block;
      }
   
      /* banner */
      .banner,
      .run-container,
      .table-container,
      .footer
      {
        flex-direction: column;
      }
      .habits-img-container,
      .team-members,
      .all-input
      {
        grid-template-columns: repeat(1, 1fr);
        /* border: 3px solid red; */
    }
    .run-container,
    .table-container,
    .team-members{
        justify-content: center;
        align-items: center;
    }
    .table-inner{
        text-align: center;
    }
    /* .trainer img{
        width: 100%;
        height: 100%;
    } */
     .team{
        display: none;
        /* cannot make this section responsive */
     }
}