@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} 
/* shared styles */
.btn-primary{
    color: white;
 background-color: #E75542;
 font-size: 18px;
 font-weight: 600;
 padding: 16px 40px 16px 40px;
 border: none;
 border-radius: 42px;
 margin: 10px;
}
body{
    /* background-color: #000000; */
    background-color: moccasin;
}
/* header */
header{
    max-width: 1060px;
    margin: 0px auto;
    /* border: 2px solid black; */
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
   
}
.nav-items >ul{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;

}
.list-items{
    list-style: none; 
    margin: 0px 10px;
    padding: 4px;
}
.nav-items > ul >a{
    text-decoration: none;
    color: white;
}
.nav-title{
color: rgb(230, 83, 60);
font-size: 2rem;
font-weight: 800;
}
#ham-burg{
    display: none;
}
/* banner section */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 100%;
}

.banner-title{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
}
.banner-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* border: 3px solid red; */
}
.banner-btn{
    color: white;
    background-color: #101010;
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
padding: 16px 40px 16px 40px;
margin: 10px;

}